{% load static  %}
    <footer>

        
            <div class="foot">
                <div class="listeler">
                    <ul>
                        <li><a href="" id="baslik1">Bize Ulas</a></li>
                        <li><a href=""><i class="fa-solid fa-envelope"> logo@info.tr</i></a></li>
                        <li><a href=""><i class="fa-solid fa-square-phone"> +9 524 *** ****</i></a></li>
                        <li><a href=""><i class="fa-solid fa-phone"> 0212 934 1414</i> </a></li>
                    </ul>

                    <ul>
                        <li><a href="" id="baslik2">Web Hakkında</a></li>
                        <li><a href="">Duyurular</a></li>
                        <li><a href="contact.html">İletişim</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>

                    <ul>
                        <li><a href="" id="baslik3">Güvenlik</a></li>
                        <li><a href="">KVKK Sözleşmesi</a></li>
                        <li><a href="">Gizlilik ve Güvenlik Sözleşmesi</a></li>
                        <li><a href="">Mesafeli Satış Sözleşmesi</a></li>
                    </ul>
                </div>

                    <div class="container odeme">
                        <img src="/static/img/iyzipay.png" alt="png yok">
                    </div>
                
            </div>
        
    </footer>